*{margin: 0; padding: 0; box-sizing: border-box; }
html { font-size: .78vw;}
img, svg {width: 100%; vertical-align: top;}





#wrap{width: 100%; height: 100vh; position: relative;  background: #fbde53; overflow: hidden; }

.text { position: absolute; width: 50%; height: 300px; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.first  { overflow: hidden; display: block;}
.first .text-move{ opacity: 0;;}
.first .text-move:nth-child(1) { animation:  move 1.5s 0s  forwards;}
.first .text-move:nth-child(2) { animation:  move 1.5s 0.2s  forwards;}
.first .text-move:nth-child(3) { animation:  move 1.5s 0.4s  forwards;}
.first .text-move:nth-child(4) { animation:  move 1.5s 0.6s  forwards;}
.first .text-move:nth-child(5) { animation:  move 1.5s 0.8s  forwards;}
@keyframes move {
  0%{ transform: translateY(200px); opacity: 0;}
  100% { transform: translateY(0); opacity: 1;}
}

.first { width: 35vw; display: flex; justify-content: space-between; margin: 0 auto;}
.second {  width: 35vw; display: flex; justify-content: space-between; margin: 0 auto; }
.second .circle {padding-top: 3.5vw;}
.under { width: 100%; height: 30px; position: absolute; bottom: 0; background: #000;}

.me-wrap { position: absolute; bottom: 0; right: 2vw;}
.me { width: 20vw; position: relative;}
.me .eye-wrap { width: 5vw; height: 1.5vw; position: absolute; top: 10vw; right: 8.5vw; }
.me .eye-wrap::before { position: absolute; content: ''; top: 0; right: 0; background: #000; width: 1.2vw; height: 1.2vw; border-radius: 50%; animation: eyes 1s 5s infinite;}
.me .eye-wrap::after { position: absolute; content: ''; top: 0; left: 0; background: #000; width: 1.2vw; height: 1.2vw; border-radius: 50%; animation: eyes 1s 5s infinite;}
@keyframes eyes {
  0% { height: 0; }
  10% { height: 1.2vw;}
}
.hand { position: absolute; top: 22vw;  animation: bounce 2s 2s infinite;}

.code { width: 5vw; position: absolute; right: 0; margin: 15px;}
.music-wrap { position: absolute; top: 0; left: 0; margin: 15px; display: flex;}
.music-wrap .music01 { width: 5vw; animation: music 1s infinite linear; overflow: hidden; position: absolute; margin: 5px; left: 0; transition: left 1s;}
@keyframes music {
  0% { transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.music01.show { left: 5vw; }
.music-wrap .music02 { width: 8vw; position: absolute; }
