* {margin: 0; padding: 0; box-sizing: border-box;}
svg {width: 100%;}


body {background: #fad7e6;}

#contents {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#contents > div {
    position: absolute;
}


/* logo */
.logo {
    width: 60vw; position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%); display: none;
}

/* setting */
.background { width: 100%; height: 100vh; overflow: hidden;}
.under { width: 100%; height: 11vw; background: #6f6ea9; bottom: 0;}
.carpet {right: 60vw; bottom: 0vw; }
.frame1 { right: 60vw; top: 1vw; }
.frame2 { right: 47vw; top: 1vw; }
.frame3 { right: 34vw; top: 1vw; }
.poster{ left: 3vw; top: 2vw; }
.light01 {right: 17vw; top: 0vw; }
.light02 { left: 7vw; top: -2vw;}
.desk02 {left: 4vw; bottom: 7.3vw;}
.monitor { left: 12vw; top: 9vw;}
.speaker01 { left: 7.5vw; top: 15vw;}
.speaker02 { left: 28vw; top: 15vw;}
.juice { left: 5vw; top: 20vw;}
.book04 { left: 4.5vw; top: 26.1vw; }
.blocks { left: 8.5vw; top: 27vw; }
.flowerpot { left: 13vw; top: 25.8vw; }
.mirror { left: 5vw; top: 33vw; }
.book03 { left: 9.5vw; top: 32.8vw; }
.ball {  left: 8.5vw; top: 36.2vw; }
.thing { left: 10vw; top: 39.2vw; }
.radio { left: 16.4vw; bottom: 5vw; }
.chair { left: 19vw; bottom: 4vw; }

.bat { left: -5.3vw;  top: 19vw; }
.glove { left: 1vw;  top: 40vw; }
.cap { left: -1vw;  top: 42vw; }

.desk01 { right: 13vw; top: 26vw; }
.guitar-shadow { right: 50vw; bottom: 3vw; width: 13vw; height: 2vw; background: rgba(83,68,155,0.4); border-radius: 50%; }
.guitar { right: 43vw; bottom: 3vw; }
.book02 { right: 35vw; bottom: 13.8vw; }
.camera { right: 27vw; bottom: 13.9vw; }
.game { right: 15.3vw; bottom: 13.9vw; }
.earth { right: 34.3vw; bottom: 2.9vw; }
.call { right: 25vw; bottom: 2.9vw; }
.book01 { right: 15vw; bottom: 2.9vw; }
.bowl { right: 41vw; bottom: 1vw; }
.speaker03 { right: 39vw; bottom: 23.5vw;}
.speaker04 { right: 13vw; bottom: 23.5vw; transform: scaleX(-1)}
.tv { right: 18vw; top: 3vw; }
.shelf { right: 0; top: 0; width: 10vw;}
.sofa {right: -5vw; bottom: -10vw; }

.icons { width: 35vw; height: 7vw; position: absolute; top: 44vw; left: 50%; transform: translate(-50%); background: #fad7e6; z-index: 5; border-radius: 5rem;}
.icons .icons-box {display: flex; justify-content: space-between; width: 30vw; margin: 0 auto; padding: 0.7vw }
.icon-monitor img{ width: 4vw; padding-top: 0.8vw; width: 4vw; }
.icon-rocket img{ width: 2.3vw; margin: 0 0.6vw 0 0.6vw; }
.icon-Jellyfish img{ width: 3vw; padding-top: 0.5vw;}
.icon-call img{ width: 4.5vw; margin-top: 0.8vw;}
.icon-script img{ width: 3vw; margin-top: 0.8vw;}

/* aniamtion */
.logo .text-wrap .text {opacity: 0; transition: all 0.3s ease;}
body.show .logo .text-wrap .text.t1  {opacity: 1; animation: bounce 1s 0.1s ease}
body.show .logo .text-wrap .text.t2  {opacity: 1; animation: bounce 1s 0.2s ease}
body.show .logo .text-wrap .text.t3  {opacity: 1; animation: bounce 1s 0.3s ease}
body.show .logo .text-wrap .text.t4  {opacity: 1; animation: bounce 1s 0.4s ease}
body.show .logo .text-wrap .text.t5  {opacity: 1; animation: bounce 1s 0.5s ease}
body.show .logo .text-wrap .text.t6  {opacity: 1; animation: bounce 1s 0.6s ease}
body.show .logo .text-wrap .text.t7  {opacity: 1; animation: bounce 1s 0.7s ease}
body.show .logo .text-wrap .text.t8  {opacity: 1; animation: bounce 1s 0.8s ease}
body.show .logo .text-wrap .text.t9  {opacity: 1; animation: bounce 1s 0.9s ease}
body.show .logo .text-wrap .text.t10 {opacity: 1; animation: bounce 1s 1.0s ease}
body.show .logo .text-wrap .text.t11 {opacity: 1; animation: bounce 1s 1.1s ease}
body.show .logo .text-wrap .text.t12 {opacity: 1; animation: bounce 1s 1.2s ease}
body.show .logo .text-wrap .text.t13 {opacity: 1; animation: bounce 1s 1.3s ease}
body.show .logo .text-wrap .text.t14 {opacity: 1; animation: bounce 1s 1.4s ease}
body.show .logo .text-wrap .text.t15 {opacity: 1; animation: bounce 1s 1.5s ease}


.background {height: 0vh; transition: all 1s linear;}
body.show .background {height: 100vh;}

.under {width: 0%; transition: all 1s 1s linear;}
body.show .under {width:100%}

.carpet { bottom: -8vw; transition: all 0.3s 1s linear;}
body.show .carpet {bottom: 0vw;}

.frame1 {top: -15vw; transition: all 1s 1.1s linear;}
body.show .frame1 {top: 1vw;}
.frame2 {top: -15vw; transition: all 1s 1.2s linear;}
body.show .frame2 {top: 1vw;}
.frame3 {top: -15vw; transition: all 1s 1.3s linear;}
body.show .frame3 {top: 1vw;}

.poster {left: -15vw; transition: all 0.5s 1.6s linear;}
body.show .poster {left: 3vw}

.light01 { top: -20vw; transition: all 0.5s 1s linear;}
body.show .light01 {top: 0vw;}

.light02 { top: -15vw; transition: all 0.5s 1s linear;}
body.show .light02 {top: -2vw;}

.desk02 {bottom: -25vw; transition: all 0.7s 1s linear;}
body.show .desk02 {bottom: 7.3vw;}

.monitor {left: -17vw; transition: all 0.5s 1.5s linear;}
body.show .monitor {left: 12vw;}

.speaker01 { left: -7.5vw; transition: all 0.3s 1.5s linear;}
body.show .speaker01 {left: 7.5vw;}

.speaker02 { left: -28vw; transition: all 0.5s 1.2s linear;}
body.show .speaker02 {left: 28vw;}

.juice {left: -5vw; transition: all 0.5s 2s linear; }
body.show .juice{left: 5vw; }

.book04 { left: -4.5vw; transition: all 0.2s 2s linear; }
body.show .book04{left: 4.5vw;}

.blocks { left: -8.5vw; transition: all 0.3s 2s linear;}
body.show .blocks{ left: 8.5vw; }

.flowerpot { left: -13vw; transition: all 0.4s 2s linear; }
body.show .flowerpot{ left: 13vw; }

.bat { left: -12vw; transition: all 0.2s 2s linear; }
body.show .bat{ left: -5.3vw; }

.glove { left: -14vw; transition: all 0.3s 2s linear;}
body.show .glove{ left: 1vw; }

.cap { left: -12vw; transition: all 0.4s 2s linear;}
body.show .cap{ left: -1vw; }

.mirror { left: -5vw; transition: all 0.4s 2.2s linear; }
body.show .mirror{ left: 5vw;}

.book03 { left: -7vw; transition: all 0.4s 2.3s linear;}
body.show .book03{  left: 9.5vw; }

.ball { left: -8.5vw; transition: all 0.4s 2.3s linear; }
body.show .ball{  left: 8.5vw; }

.thing { left: -10vw; transition: all 0.4s 2.3s linear;  }
body.show .thing{  left: 10vw }

.radio { bottom: -11vw; transition: all 0.4s 2.5s linear; }
body.show .radio{ bottom: 5vw }

.chair { bottom: -28vw; transition: all 0.6s 2.3s linear; }
body.show .chair{ bottom: 4vw; }

.desk01 {  right: -40vw; transition: all 0.9s 1.5s linear; }
body.show .desk01{ right: 10vw; }

.guitar-shadow {opacity: 0; transition: all 1s 2s ease;}
body.show .guitar-shadow {opacity: 1;}

.guitar {bottom: -35vw;transition: all 0.7s 2s ease; }
body.show .guitar {bottom: 3vw;}

.book02 { bottom: -13.8vw; transition: all 0.7s 2s ease;}
body.show .book02 {bottom: 13.8vw; }

.camera { bottom: -13.9vw; transition: all 0.7s 2.3s ease}
body.show .camera { bottom: 13.9vw; }

.game { bottom: -13.9vw; transition: all 0.6s 2.5s ease }
body.show .game { bottom: 13.9vw; }

.earth { right: -8vw; transition: all 0.6s 2.1s ease }
body.show .earth { right: 34.3vw; }

.call { right: -11vw; transition: all 0.8s 2.3s ease }
body.show .call { right: 25vw; }

.book01 { right: -11vw; transition: all 0.5s 2.5s ease }
body.show .book01 { right: 15vw;}

.bowl { bottom: -7vw; transition: all 0.8s 2.2s ease }
body.show .bowl { bottom: 1vw;}

.speaker03 { bottom: -23.5vw; transition: all 0.8s 2.2s ease}
body.show .speaker03 { bottom: 23.5vw; }

.speaker04 {right: -13vw; transition: all 0.8s 2.2s ease}
body.show .speaker04 { right: 13vw; }

.tv { right: -22vw; transition: all 0.6s 2.5s linear; }
body.show .tv{ right: 18vw; }

.shelf {right: -11vw; transition: all 0.8s 0.5s ease;}
body.show .shelf {right: 0vw;}

.sofa { bottom: -30vw; transition: all 0.8s 2s ease;}
body.show .sofa {bottom: -10vw; }



/* media */
@media (max-width:1500px){
    .shelf img { height: 60vw;}
    .frame1 img{ height:15vw;}
    .frame2 img{ height:15vw;}
    .frame3 img{ height:15vw;}
}

@media (max-width:1220px){
}

@media (max-width:768px){
}

@media (max-width:480px){}








