
/* layout */
* { box-sizing: border-box;}
body { overflow: hidden;}
#wrap {
    width: 100%; height: 100vh; 
    position: relative;  
    background: #fbde53; 
    overflow: hidden; 
}
svg, img { width: 100%; height: 100%;}




/* logo */
.logo {
  position: absolute; left: 50%; top: 50%;
  transform: translate(-50%, -50%); 
}
.logo .first {
    display: flex; 
}
.logo .first .text {
    margin-right: 0.6vw; margin-bottom: 0.4vw;
}
.logo .first .text:hover { 
    transform: translate(0,100px); 
}  
.logo .second { 
    display: flex; align-items: flex-end;
}
.logo .text {
    opacity: 0; transform: translateY(120px)
}


/* me */
.me {
    width: 20vw;
    position: absolute; 
    bottom: -30px; right: 30px;
    opacity: 0;
}
.me .eye-wrap { 
    width: 5vw; height: 1.5vw; 
    position: absolute; top: 11vw; 
    right:9.5vw;
}
.me .eye-wrap::before { 
    position: absolute; 
    content: ''; top: 0; right: 0; 
    background: #000; width: 1.2vw; 
    height: 1.2vw; 
    border-radius: 50%; 
    animation: eyes 1s 5s infinite;
}
.me .eye-wrap::after { 
    position: absolute; 
    content: ''; top: 0; left: 0; 
    background: #000; width: 1.2vw; height: 1.2vw; 
    border-radius: 50%; 
    animation: eyes 1s 5s infinite;
}
.me .hand {
    position: absolute; 
    bottom: -20px; 
    animation: hand 1s 5s ease-in-out infinite;
}
.me img {width: 100%;}

@keyframes eyes {
    0% { height: 0; }
    10% { height: 1.2vw;}
}
@keyframes hand {
    0% { bottom: 20px;}
    10% { bottom: 40px;}
}




/* menu */
.menu {
    position: absolute; left: 5%; top: 50%;
    transform: translateY(-50%);
}
.menu li {
    position: relative;
    top:0;
    margin: 20px;
    opacity: 0;
    width: 140px;
    height: 90px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px #CEAF30;
    user-select: none;
    transition: all 0.1s ease;
}
.menu li:active {
    transform-origin: bottom;
    box-shadow: 0px 0px #CEAF30;
    top: 4px;
  }
.menu li:hover {
    background: #FFF1B8;
}
.menu li a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu li:nth-child(5) a {
    width: 55%;
}


  



/* popup */
.popup { 
    position: absolute; 
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #000; border-radius: 10px; background: #fff; 
    overflow: hidden; 
    width: 1000px; height: 650px;
}

.popup .top {
    background: #595959;
    border-bottom: 4px solid #000;
    height: 36px;
    padding-left: 6px;
}

.popup .top span {
    width: 15px; height: 15px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    margin: 10px 0px 4px 8px;
}
.popup .top span:nth-child(1){background: #eb6659;}
.popup .top span:nth-child(2){background: #ffd01f;}
.popup .top span:nth-child(3){background: #68e91c;}

.popup .content { 
    width: 100%;
    height: 570px;
    padding: 20px;
    box-sizing: border-box;
}


/* .popup.about  */
.about {
    position: absolute; 
    left: 150%; top: 50%;
    transform: translate(-50%, -50%);
}
.about .content ul {
    display: flex;
}


/* .popup.site*/
.site { 
    position: absolute; 
    left: 150%; top: 50%;
    transform: translate(-50%, -50%);
}
.site .content ul  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site .content li {
    cursor: pointer;
    width: 200px;
    margin: 15px;
    box-shadow: 10px 10px 0px 0px #fbde53;
    border-radius: 10px;
}


/* .popup.code {left: 250%;} */
.coding { 
    position: absolute; 
    left: 150%; top: 50%;
    transform: translate(-50%, -50%);
}
.coding .content { 
    padding: 0; 
}
.coding .content > ul {
    display: flex;
}
.coding .content > ul > li {
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.coding .content .button {
    flex-basis: 6%;
    background: #323232;
}
.coding .content .button img {
    width: 35px;
    padding-top: 20px;
}


.coding .content .text{
    flex-basis: 20%;
    background: #222324;
    overflow: hidden;
}
.coding .content .text ul{
    width: 100%;
    display: inline-block;
    text-align: left;
}
.coding .content .text li{
    height: 100%;
}
.coding .content .text li a { 
    color: #fff;
    padding: 10px;
    display: block;
}
.coding .content .text li a:hover {
    background: #2D2D2D;
}
.coding .content .text li a.active {
    background: #2D2D2D;
}

.coding .content .code-wrap {
    flex-basis: 74%;
    background: #1C1D1D;
}


.coding .content .footer {
    width: 100%;
    height: 30px;
    background: #127BBE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.coding .content .footer p { 
    padding-right: 15px; 
    color: #fff;
}
.coding .content .footer img {
    width: 60px;
    padding-right: 18px;
}
.coding .content .footer > div:last-child { 
    display: flex;
}



/* code editor */
.code-wrap { 
    overflow: hidden;
}
.code-toolbar { 
    width: 100%;
    height: 100%;
}
.code-editor {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
   	width: 750px; 
   	text-align: left;
   	border-radius: 0 0 5px 5px;
   	overflow: auto;
   	-webkit-transition: all .5s ease-in-out;
    -moz-transition: wall .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.code-editor span.control:nth-child(1):before {
	margin-left: 15px;
	background-color: #df6963;
	
}

.code-editor span.control:nth-child(2):before {
	margin-left: 35px;
	background-color: #f5e18a;
	
}

.code-editor span.control:nth-child(3):before {
	margin-left: 55px;
	background-color: #97c38a;
}

/* -- iPad Screen -- */
@media only screen and (min-width: 480px) and (max-width: 768px) {
	.code-editor {
   		width: 500px; 
	}

	.code-editor:before {
		width: 500px;
	}
}

/* -- iPhone Screen -- */
@media only screen and (max-width: 479px) {
	.code-editor {
		width: 300px;
	}	

	.code-editor:before {
		width: 300px;
	}
}


code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
  margin: 0em 0;
  height: 500px;
  overflow: auto;
}


/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  -moz-border-radius: .3em;
  -o-border-radius: .3em;
  -webkit-border-radius: .3em;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}


.token.tag,
.token.attr-name,
.token.namespace {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}


.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url
{
  color: #67cdcc;
}


.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}

pre.line-numbers {
	position: relative;
	counter-reset: linenumber;
}

pre.line-numbers > code {
	position: absolute;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;

	font-size: 100%;
	left: -200px;
	width: 40px; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	background-color: rgba(255,255,255,0.2);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.line-numbers-rows > span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows > span:before {
	content: counter(linenumber);
	color: #999;
	display: block;
	padding-right: 0.8em;
	text-align: right;
}



/* animation-icon click code */
.animation { 
    position: absolute;
    top: 0; right: 50%;
    transform: translateX(50%);
    
}
.animation ul {
    display: flex;
}
.animation li { 
    width: 110px;
    height: 110px;
    margin: 20px;
    opacity: 0;
    transform: translateY(-200px);
}
.effect img {
    width: 100%;
    vertical-align: top;
  }
.animation .effect {
    perspective: 1000px;
}
.animation .effect .front {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);
    z-index: 1000;
    width: 110px;
    height: 110px;
    background: #ffffff;
    border-radius: 50%;
    border: 4px solid;
}
.animation .effect .front > img {
    padding: 15px;
}
.animation .effect .back {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%,-50%);
    width: 110px;
    height: 110px;
    background: #000;
    border-radius: 50%;
    border: 4px solid;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


/* animation-icon Effect */
.animation ul li .effect .front {
transform: rotatey(.001deg);
transition: transform 0.6s ease;
backface-visibility: hidden;
}

.animation ul li:hover .effect .front {
transform: rotatey(180deg);
}

.animation ul li .effect .back {
transform: rotatey(.001deg);
transform: rotatey(-180deg);
transition: transform 0.6s ease;
}

.animation ul li:hover .effect .back {
transform: rotatey(0deg);
}


  


 









