/* 레이아웃 */
#wrap {margin: 0 auto;}
#header {
    position: fixed; left: 0; top: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
}
#header.on {
    top: -200px;
    transition: 0.7s ease;
}

/* 헤더 */
#header {
    .first-nav {
        width: 100%;
        height: 45px;
        background: #f4f4f4;
        border-bottom: 2px solid #f0eeee;     
        ul {
            display: flex;
            justify-content: center;
            li {
                position: relative;
                display: inline;                
                a {                   
                    display: inline-block;                   
                    padding: 12px 65px 10px;            
                    box-sizing: border-box;
                    font-size: 13px;
                    font-weight: 600;
                    color: #999;                    
                }                                     
            }
            li.active a {
                color: #000;
            }   
            li:first-child::before {
                content: '';
                position: absolute; left: 0px; bottom: -5px;
                width: 150px;
                height: 4px;
                background: #96c11f;
            }                  
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;      

    h1 {
        width: 140px; margin: 22px 0 0 20px;
    }
    .nav {
        li {
            position: relative;
            display: inline;
            a {
                font-size: 17px; color: #000;
                padding: 26px 20px;
                font-weight: 600;
                display: inline-block;
            }
        }
        li:nth-child(3)::after {
            content: '';
            position: absolute; left: 17px; bottom: -5px;
            width: 69px; height: 2px;
            background: #d83832;
        }

        li.live {            
            a {position: relative;
                img {
                    width: 85px;
                    position: absolute; left: 15px; top: 25px;
                } 
            }
        }
    }
    .side-nav {
        margin-right: 20px;
        li {
            display: inline;   
            a { 
                width: 30px;
                display: inline-block;
                padding: 28px 10px 20px;
                img {
                    width: 100%;
                }
            }         
        }
    }
}

/* 배너 */
#banner {
    margin-bottom: 100px; 
    position: relative;

    .banner {
        position: relative;
        h2 {
            position: absolute; left: 50%; top: 40%;
            transform: translate(-50%, -40%);
            font-size: 65px;
            color: #fff;
            font-weight: 500;
        }
        span {
            position: relative;
            position: absolute; left: 50%; top: 70%;
            transform: translate(-50%, -70%);
            font-size: 23px;
            color: #fff;       
            font-weight: 400;               
        }        
        .line1::before {
            content: '';
            width: 1px;
            height: 145px;
            background: rgba(255, 255, 255, 0.4);
            position: absolute; left: -320px; bottom: -40px;
        } 
        .line1::after {
            content: '';
            width: 600px;
            height: 1px;
            background: rgba(255, 255, 255, 0.4);
            position: absolute; left: -320px; top: -105px;
        } 
        .line2::before {
            content: '';
            width: 2px;
            height: 220px;
            background: rgba(255, 255, 255, 0.4);
            position: absolute; right: -330px; top: -130px;
        } 
        .line2::after {
            content: '';
            width: 680px;
            height: 2px;
            background: rgba(255, 255, 255, 0.4);
            position: absolute; left: -350px; bottom: -90px;
        } 
        .dot::before {
            content: '';
            position: absolute; left: 0; top: -110px;
            width: 13px; height: 13px;
            background: #96c11f;
            border-radius: 50%;
        } 
        img {
            margin-top: 80px;
        }
    }

    .btn-quick {
        a {
            position: absolute;
            left: 50%; bottom: -25px;
            z-index: 1000;
            width: 50px; height: 50px;
            margin-left: -25px;
            background: #fff;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
            
            img {
                width: 30px;
                padding: 10px; 
            }
        }
    } 
}

/* contents */
#contents {
    background: url(../img/img_01.jpg) no-repeat right top;
    position: relative;
    margin: 0 auto;
    img.pat {
        position: absolute; left: 10px; top: -60px;
        width: 180px;
    }
    h2.title {
        position: relative;
        font-size: 96px;
        line-height: 84px;
        font-weight: bold;
        margin-left: 20%;
        padding-top: 80px;
        &::before {
            content: '';
            position: absolute; left: -60px; top: 0px;
            width: 35px; height: 35px;
            background: #96c11f;
            border-radius: 50%;
        }
    }
}
.content {
    .con1 {
        position: relative;
        margin: 9% 0 0 23%;        
        a.cont-box {            
            div.box{
                width: 670px;
                height: 150px;
                background: rgba(255, 255, 255, 0.8);
                padding: 40px 25px 20px;
                position: absolute; left: 28%; bottom: 13%;
               h4 {
                   font-size: 36px; font-weight: bold; 
                   margin-bottom: 10px;
                }
               p {font-size: 20px; font-weight: 400;}
            } 
        &:hover {color: #000;}    
        }
        a.more {
            position: absolute; right: 50%; bottom: 20%;
            color: #999;
            padding-right: 40px;
            display: none;
            font-weight: bold;
        
            &:before {
                content: '';
                width: 30px; height: 1px; background: #ca0202;
                position: absolute; right: 0; top: 10px;                
            }
            &:after {
                content: '';
                width: 5px; height: 5px; background: #ca0202;
                border-radius: 50%;
                position: absolute; right: 0; top: 8px;
            }
        }
        &:hover a.more {display: block;}  
    }
     //.con1
    .con2 {
        margin-top: 150px;
        position: relative;
        a.cont-box {  
            img {
               margin-left: 45%;
            }
            div.box{
                padding: 20px;
                position: absolute; left: 25%; top: 29%;
               h4 {
                   font-size: 36px; font-weight: bold; 
                   margin-bottom: 10px;
                   position: relative;
                   &::after {
                       content: '';
                       width: 350px;
                       height: 10px;
                       background: #539a00;
                       position: absolute; left: 200px; top: 25px;
                   }
                }
               p {font-size: 20px; font-weight: 400;}
            } 
        &:hover {color: #000;}    
        }
        a.more {
            position: absolute; left: 38%; bottom: 38%;
            color: #999;
            padding-right: 40px;
            display: none;
            font-weight: bold;
        
            &:before {
                content: '';
                width: 30px; height: 1px; background: #ca0202;
                position: absolute; right: 0; top: 10px;                
            }
            &:after {
                content: '';
                width: 5px; height: 5px; background: #ca0202;
                border-radius: 50%;
                position: absolute; right: 0; top: 8px;
            }
        }
        &:hover a.more {display: block;}  
    }
     //.con2
    .con3 {
        margin-top: 150px;
        position: relative;
        img.pat1 { 
            position: absolute; right: 0; top: -200px;
            width: 250px;
        }
        a.cont-box {  
            img {
               margin-left: 60%;
            }
            div.box{                
                padding: 40px 25px 20px;
                position: absolute; left: 25%; top: 11%;
                width: 670px;
                height: 170px;
                background: rgba(255, 255, 255, 0.8);
               h4 {
                   font-size: 36px; font-weight: bold; 
                   margin-bottom: 10px;
                }
               p {font-size: 20px; font-weight: 400;}
            } 
        &:hover {color: #000;}    
        }
        a.more {
            position: absolute; left: 38%; bottom: 32%;
            color: #999;
            padding-right: 40px;
            display: none;
            font-weight: bold;
        
            &:before {
                content: '';
                width: 30px; height: 1px; background: #ca0202;
                position: absolute; right: 0; top: 10px;                
            }
            &:after {
                content: '';
                width: 5px; height: 5px; background: #ca0202;
                border-radius: 50%;
                position: absolute; right: 0; top: 8px;
            }
        }
        &:hover a.more {display: block;}  
    }
     //.con3
    .con4 {
        margin-top: 150px;
        position: relative;
        a.cont-box {
            div.box{
                padding: 20px;
                position: absolute; left: 25%; top: 37%;                
                
               h4 {
                position: relative;
                   font-size: 36px;
                   font-weight: bold; 
                   margin: 0 0 10px 370px;                  
                   &::after {
                       content: '';
                       width: 350px;
                       height: 10px;
                       background: #539a00;
                       position: absolute; left: -370px; top: 27px;
                   }
                }
               p {
                   margin-left: 370px;
                   font-size: 20px; 
                   font-weight: 400;
                }
            } 
        &:hover {color: #000;}    
        }
        a.more {
            position: absolute; left: 37.5%; top: 52%;
            color: #999;
            padding-right: 40px;
            display: none;
            font-weight: bold;
        
            &:before {
                content: '';
                width: 30px; height: 1px; background: #ca0202;
                position: absolute; right: 0; top: 10px;                
            }
            &:after {
                content: '';
                width: 5px; height: 5px; background: #ca0202;
                border-radius: 50%;
                position: absolute; right: 0; top: 8px;
            }
        }
        &:hover a.more {display: block;}  
    }
    //.con4
    .con5 {
        position: relative;
        margin-bottom: 100px;
        a.cont-box {  
            img {
               margin-left: 57%;
            }
            div.box{         
                padding: 40px 25px 20px;
                position: absolute; left: 22%; top: 30%;
                width: 670px;
                height: 170px;
                background: rgba(255, 255, 255, 0.8);
               h4 {
                   font-size: 36px; font-weight: bold; 
                   margin-bottom: 10px;
                }
               p {font-size: 20px; font-weight: 400;}
            } 
        &:hover {color: #000;}    
        }
        a.more {
            position: absolute; left: 35%; bottom: 42%;
            color: #999;
            padding-right: 40px;
            display: none;
            font-weight: bold;
        
            &:before {
                content: '';
                width: 30px; height: 1px; background: #ca0202;
                position: absolute; right: 0; top: 10px;                
            }
            &:after {
                content: '';
                width: 5px; height: 5px; background: #ca0202;
                border-radius: 50%;
                position: absolute; right: 0; top: 8px;
            }
        }
        &:hover a.more {display: block;}  
    }
}



/*fbanner*/
#fbanner {
    .swiper-container {
        background: #f2f1de;
        padding: 60px 0;
        .swiper-wrapper {
            .swiper-slide {
                text-align: center;
                position: relative;
                p {
                    position: absolute; left: 50%; top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 25px;
                    font-weight: bold;
                    color: #fff;        
                }
                img {
                    width: 650px;
                    height: 300px;               
                }
            }
        }
        .swiper-scrollbar {
        }
    }
}

/* footer */
#footer {
    overflow: hidden;
    width: 1200px;
    padding: 30px 0;
    margin: 0 auto;
    color: #666;

    .left {
        float: left;

        .left1 {
            margin-bottom: 20px;
            li { 
                display: inline;
                font-size: 15px;
                margin-right: 20px;
                position: relative;        

                strong.st1 {
                    color: #539a00;
                }
                strong.st2 {
                    color: #ff6216;
                }

                &::after {
                    content: '';
                    width: 1px;
                    height: 10px;
                    background: #ccc;
                    position: absolute; right: -12px; top: 7px;
                }           
            }
            li:nth-child(5)::after {
                width: 0;
                height: 0;
            }
            li:last-child:after {
                width: 0;
                height: 0;
            }
        }
        .left2 {
            margin-bottom: 20px;            
            font-weight: 300; 

            li { 
                display: inline;
                font-size: 13px;
                margin-right: 20px;
                position: relative;

                &::after {
                    content: '';
                    width: 1px;
                    height: 10px;
                    background: #ccc;
                    position: absolute; right: -14px; top: 5px;
                }   
            }
            li:nth-child(4)::after {
                width: 0;
                height: 0;
            }
            li:last-child:after {
                width: 0;
                height: 0;
            }
        }
        address {
            margin: 30px 0;
            font-style: normal;
            font-weight: 300;
        }
    }

    .right {
        float: right;

        .family {
            p {
                width: 200px;
                padding-left: 20px;
                position: relative;
                font-size: 14px;
                border: 2px solid #e8e8e8;
                padding: 10px;
                border-radius: 23px; 
                font-weight: bold;
                color: #666;
                &::after {
                    content: '';
                    position: absolute;
                    right: 20px; top: 20px;
                    border-top: 5px solid #333;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                }              
            }           
        }

        ul {
            li {
                display: inline-block;
                margin: 30px 5px;                
                img {
                    width: 46px;
                }              
            }
        }
    }
}